@font-face{     
    font-family: myFirstFont;     
    src:url(./../src/font/RobotoMedium.ttf) 
}

@font-face{     
    font-family: mySecondFont;     
    src:url(./../src/font/RobotoRegular.ttf) 
}

@font-face{     
    font-family: myThirdFont;     
    src:url(./../src/font/RobotoBold.ttf) 
}

@font-face{     
    font-family: myFourthFont;     
    src:url(./../src/font/OswaldMedium.ttf) 
}

@font-face{     
    font-family: myFifthFont;     
    src:url(./../src/font/OswaldRegular.ttf) 
}

/* Start of header modifications */

header {
    background-image: url(./../src/images/banner-overlay-img.png);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 700px;
    background-color: #07134d;
}

.headerTop {
    display: flex; 
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.Logo>img {
    height: 125px;
    margin-left: 200px;
    margin-top: 15px;
}

.Logo {
    margin-top: 15px;
}

.navBar>nav {
    margin-top: 70px;
    margin-right: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navBar>nav>a {
    color: white;
    text-decoration: none;
    font-size: small;
    font-family: myFirstFont;
    margin-right: 70px;
}

.navBar>nav>div>button {
    background-color: #09d4ef;
    color: white;
    height: 40px;
    width: 125px;
    border: none;
    border-radius: 20px;
}

.headerBottom {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 100px;
}

.contactUs{
    margin-right: 100px;
    
}

.contactusugo{
    text-align: center;
}

.cyberSecurity {
    color: white;
    font-size: x-large;
    font-family: mySecondFont;
    margin-bottom: 0;
}

.lorem {
    color: white;
    font-family: mySecondFont;
    font-size: small;
    opacity: 0.7;
    margin-top: 0;
    line-height: 1.5;
}

.imageLaptop {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.imageLaptop>img {
    height: 450px;
    width: 550px;
    margin-top: 100px;
}

.twoButtons {
    display: flex;
    gap: 15px;
}

.buttonGetStarted {
    background-color: #09d4ef;
    color: white;
    height: 40px;
    width: 130px;
    border: none;
    border-radius: 20px;
}

.buttonContactUs {
    background-color: #2052a2;
    color: white;
    height: 40px;
    width: 130px;
    border: none;
    border-radius: 20px;
}

/* End of header modifications */


/* Start of media modifications, to make the site responsive to all types of devices */

/* @media (max-width: 767px) {
   header {
    width: 95%;
    height: 1200px;
   }

   .headerTop {
    justify-content: center;
    align-items: center;
    flex-direction: column;
   }

   .navBar>nav {
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
   }

   .Logo {
    margin-right: 150px;
   }

   .headerBottom {
    flex-direction: column;
    margin-right: 170px;
   }

   .imageLaptop {
    height: 150px;
    width: 200px;
   }

   .navBar>nav>a {
    font-size: large;
   }
} */

@media (max-width: 425px) {
    header {
        width: 100%;
        height: 2200px;
        flex-direction: column;
    }
    .headerTop{
        flex-direction: column;
        height: 200px;
    }
    .headerBottom{
        display: flex;
        flex-direction: column;
    }
    .navBar{
        display: flex;
        flex-direction: column;
        height: 600px;
        margin-top: 100px;
    }
    #navbar{
        display: flex;
        flex-direction: column;
        height: 600px;
        margin-top: 100px;
    }
    nav{
        flex-direction: column;
        height: 500px;
        /* flex-wrap: wrap; */
    }
    .backgroundImage{
        flex-direction: column;
        gap: 100px;
        height: 800px   ;
    }
    .headerBottom{
        margin: 100px;
    }
    .artustest{
        margin-right: 100px;
        font-size: smaller;
    }
    .imageLaptop{
        margin-right: 80px;
    }

    /* .lorem{
        margin-right: 1000px;
    } */

    }
    @media (min-width:426px) and (max-width: 768px) {
        .navBar{
            width: 1%px;
            gap: 1px;
        }
        #contactusugo{
            margin-right: 70px;
        }
    }



/* @media (max-width: 768px) {
    header {
        /* width: 810px; */
        /* width: 810px; */
    /* } */

    /* .navBar>nav {
        gap: 0px;
    } */

    /* .Logo>img {
        height: 100px;
        margin-right: 20px;
    }
} */ 

/* @media (max-width: 1024px) {
    header {
        height: 800px;
    }
} */
      
body{
    height: 100vh;
    width: 100vw;
    padding: 0;
    margin: 0;
}
/* section number tow  */

#bigtitllesec2{
    font-family: mySecondFont;
    font-size: xx-large;
}
#bigtitllesec3{
    font-family: mySecondFont;
    font-size:300%;
    line-height: 60px
}
#bigtitlesec1{
    font-family: mySecondFont;
    font-size: xx-large;
}
#bigtitlesec02{
    font-family: mySecondFont;
    font-size: xx-large;
}
#bluetitlesec1{
    /* font-family: myFirstFont;   */
    /* font-family: mySecondFont; */
    /* font-family: myThirdFont;      */
    /* font-family: myFourthFont;      */
    font-family: myFifthFont;
    font-size: large;
    font-weight: lighter;
    letter-spacing: 5px;
}
#bluetitlesec2{
    font-family: myFifthFont;
    font-size: x-large;
    letter-spacing: 5px;
    font-weight: lighter;
}
.titrecase{
    padding-left: 10%;
    margin: 0;
    margin-top: 20px;
    font-size: large;
    font-family: myThirdFont;
}
.paragraphewhatwedo{
    font-size: large;
    padding-left: 10%;
    opacity: 0.7;
    font-family: myFirstFont;
    font-weight: lighter !important; 
}

#secwhatwedo{
    width: 100%;
    height: 750px;
    background-image: url(../images/overly-img.png);
    background-position: center;
    background-size: 100%;
    background-color: #122061;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;   
    color: white;
    text-align: center; 
}
section h5{
    color: #279fd2;
}
.title{
    margin: 0;
    margin-top: 10px;
    font-size: medium;
}
#divwhatwedo{
    width: 65%;
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}
.divwhatwedo{
    width: 21%;
    height: 80%;
    background-color: #17256e;
    border-radius: 10px;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: padding-bottom 1s;
    
}
.imgwhatwedo{
    /* transition: margin-bottom 0.4s; */
    /* transition: padding-bottom 1s; */
    padding-top: 20px;
    padding-left: 10px;
    transition: padding-top 0.6s;
}

.divwhatwedo:hover .imgwhatwedo{
    /* border: #02CCEB 2px solid; */
    /* transition: margin-bottom 0.4s; */

    padding-bottom: 10px;

    
}
.divwhatwedo:hover {
    outline: #02CCEB 2px solid;
    /* transition: margin-bottom 0.4s; */

    /* margin-bottom: 40px; */

    
}
.tryhover {
    width: 100%;
    height: 30%;
}
/* .divwhatwedo:hover .tryhover{
    padding-bottom: 10px;
} */
/* #imageart1{
    padding-top: 40px;
    padding-left: 10px;
    transition: padding-top 1s;
} */
.divwhatwedo:hover .imgwhatwedo{
    padding-top: 3px;
}
#buttongetstarted{
    background-color: #0ad3ef;
    border-radius: 30px;
    height: 7%;
    width: 9%;
    border: none;
    color: white;
    /* font-weight: bold; */
    font-size: large
    /* font-size: small; */
}

/* pour le fun pas dans l exo  */
#buttongetstarted:hover{
    background-color: #07134d;
    color: #02CCEB;
    border: #02CCEB 2px solid;
    background-position: 20%;
}
/* pour le fun pas dans l exo  */
.imgwhatwedo{
    /* height: 18%;
    width: 31%; */
    height: 65px;
    width: 91px;
    margin-left: 15px;
    margin-top: 15px;
}
.imageartus{
    height: 100%;
    width: 100%;
}
/* #imageart1{
    background-image: url(../images/Effective-sec-item-img1.png);
    background-position: center;
    background-repeat: no-repeat;
} */
/* .imageartus:hover{
   padding-top: 100px;
} */



/* responsive part */
@media (max-width:1024px) {
    #divwhatwedo{
        width: 90%;
    }
    /* .imageartus{
        height: 50%;
        width: 50%;
    } */
}

@media (max-width:425px){
    #secwhatwedo{
        height: 1200px !important;
    }
    #divwhatwedo{
        width: 400px;
        height: 200px;
        flex-wrap: wrap;
    }
    .divwhatwedo{
        width: 200px;
        height: 80%;
    }
    #secwhatwedo{
        height: 1000px;
    }
    #buttongetstarted{
        /* margin-top: 120px; */
        width: 100px;
        
    }
    .titrecase{
        font-size: smaller;
    }
    .paragraphewhatwedo{
        font-size: xx-small;
    }
    .title{
        margin-bottom: 40px;
    }
    .titrecase{
        padding-top: none ;
    }
    #buttongetstarted{
        margin-top: 200px;
        margin-left: 310px;
    }
    .imageartus{
        height: 50%;
        width: 50%;

    }
}


/* end section number tow */

.Partners{
    width: 100%;
    /* height: 1000px; */
    background-color: #0A1650;
    display: flex;
    flex-direction: column;
    padding-bottom: 100px;
}
.pP{
    color: #32A5D3;
}
#WereWorking{
    display: flex;
    justify-content: center;
    text-align: center;
    color: white;
    margin-top: 35px;
    flex-direction: column;
}
#Title1{
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 25px;
}
#imagediv1{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    margin-bottom: 100px;
    transition: 0.5s;
    transition: 0.5s;
    flex-wrap: wrap;
}
#ReduceRisk{
    display: flex;
    justify-content: space-evenly;
    gap: 25px;
    position: relative;
    flex-wrap: wrap;
    font-size: 18px;
}
#ReduceRisk h1{
    font-size: 30px;
}

.listeReduce{
    list-style: url(../images/checked.jpeg);
    }
#imgandtext{
    display: flex;
    gap: 50px;
    color: white;
    flex-wrap: wrap;
    
}
#ReduceRisk #img22{
    position: absolute;
    left: 1715px;
    margin: 0;
}
#img22{
    display: flex;
    justify-content: space-between;
}
#img22 img{
    height: 300px;
}
#imagediv11 {
    background-color: #17256e;
    width: 170px;
    height: 160px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}
#imagediv11 img{
    width: 110px;
    height: 110px;
}
#imagediv11:hover img{
    filter: brightness(100);
    transition: 1s;
    transition-timing-function: ease;
    transform: translateY(-10px);
}
#imagediv11:hover {
    background-color: #02CCEB;
}
#img2{
    height: 500px;
}
@media (max-width:500px){
    #img2{
        width: 300px;
    }
}
@media (max-width:450px){
    .thetext{
        display: flex;
        justify-content: center;
    }
    .class4{
        height: 1000px;
        display: flex;
        flex-direction: column;
        padding-bottom: 600px;
    }
    #square{
        padding-top: 1000px;
    }
    /* #footer1{
        display:flex ;
        flex-direction: column;
        height: 8000px; 
        padding-bottom: 3000px; 
    } */
    #footer2{
        height: 800px;
        padding-bottom: 3000px;
    
    }
}

/* start section cyber  */

#sectioncyber{
    width: 100%;
    height: 850px;
    /* height: 700px; */
    display: flex;
}
.sectioncyber{
    width: 50%;
    height: 100%;
    background-color: red;
    display: flex;
}
.divcyberL{
    background-color: #0A1650;
}
.divcyberR{
    background-image: url(../images/service-right-bg-img.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: end;
    align-items: flex-end;
}
#divinimg{
    height: 38%;
    width: 49%;
    background-color: #02CCEB;
    border-top-left-radius: 16px;
    background-image: url(../images/service-box-img.png);
    background-repeat: no-repeat;
    background-size: 25%;
    background-position: 6% 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    

}
.cybertext{
   margin: 0; 
   /* margin-top: 10px; */
   margin: 10px;
   color: white;
   /* opacity: 0.7; */
   margin-left: 8%;
   /* margin-top: 10%; */
   font-family: myFirstFont;
}

#creative{
    font-size: large;
    margin-top: 20%;
}
#opacity{
    opacity: 0.8;
}
#readtrigger{
    height: 10%;
    width: 30%;
    color: white;
    background-color: #02CCEB;
    font-size: medium;
    margin-left: 4%;
    border: none;
    font-family: myFirstFont; 
    opacity: 0.7;
}
.caseLcyber{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    
}
#caseLcyber{
    width: 40%;
    background-image: url(../images/dots-img2.png);
    background-repeat: no-repeat;
    background-position: left;
    

}
#caseRcyber{
   width: 60%;
   
}
.security{
   color: white;
   font-size: large;
   line-height:33px
}
#opacitysecurity{
    opacity: 0.7;
    font-family: myFirstFont;
     /* font-family: myFirstFont;   */
    /* font-family: mySecondFont; */
    /* font-family: myThirdFont;      */
    /* font-family: myFourthFont;      */
    /* font-family: myFifthFont; */
    color: #7183BE;
}
#pourcentage{
   height: 16%;
   width:100%;
   display: flex;
   align-items: center;
   justify-content: space-around;
   padding-top: 20px;
   
   /* gap: 9%; */
   /* background-color: #09d4ef; */
   /* border-radius: 100px; */
   font-family: myFifthFont;
   
}
.pourcentage{
    height: 130px;
   /* height: 100%; */
   /* width:100%; */
   width: 130px;
   border-radius: 2000px;
   /* background-color: #02CCEB; */
   display: flex;
   align-items: center;
   justify-content: center;
   font-size: xx-large;
   font-weight: bold;
   text-align: left;
   color: white;
   border:2px solid #02CCEB;
   
}

#bottomtext{
    width: 100%;
    height: 15%;
    display: flex;
   align-items: center;
   justify-content: space-around;
   font-family: myFirstFont;
}
.textunderporcent{
    color: white;
    align-items: right;
    padding-bottom: 10%;
    font-weight: bold;
    padding-right: 2%;
    font-size: large;
}
@media (max-width:425px){
   #sectioncyber{
    flex-direction: column;
   }
    .sectioncyber{
        width: 100%;
    }
    #divinimg{
        height: 300px;
        flex-direction: column;
    }
   }

   .class4{
    width: 100%;
    height: 800px;
    background-image: url(../images/overly-img.png);
    background-color: #122061;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    gap: 25px;
    align-items: center;
    flex-wrap: wrap;
}
#square{
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex-wrap: wrap;
    
}
#first2square{
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
}
#last2square{
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
}
#textbottom1{
    border: solid 1px #17256E;
    background-color: #17256E;
    /* padding: 20px 60px; */
    /* position:inherit; */
    border-radius: 15px; 
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    /* padding-bottom: -500px ; */
    width: 230px;
    height: 230px;
    
}
#textbottom2{
    border: solid 1px #17256E;
    background-color: #17256E;
    /* padding: 20px 60px; */
    /* position:inherit; */
    border-radius: 15px; 
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    /* padding-bottom: -500px ; */
    width: 230px;
    height: 230px;
    
}
#textbottom3{
    border: solid 1px #17256E;
    background-color: #17256E;
    /* padding: 20px 50px; */
    /* position:inherit; */
    border-radius: 15px; 
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    /* padding-bottom: -500px ; */
    width: 230px;
    height: 230px;
}
#textbottom4{
    border: solid 1px #17256E;
    background-color: #17256E;
    /* padding: 20px; */
    /* padding-right: 50px; */
    /* padding-left: 87px; */
    /* position:inherit; */
    border-radius: 15px; 
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    /* padding-bottom: -500px ; */
    width: 230px;
    height: 230px;
}

#pbottom1{
    font-size: 20px;
    color: #677ABE;
}
#pbottom2{
    font-size: 20px;
    color: #677ABE; 
}
#pbottom3{
    font-size: 20px;
    color: #677ABE;
}
#pbottom4{
    font-size: 20px;
    color: #677ABE;
}


#h2logo1{
    font-size: 35px;
    
}
#h2logo2{
    font-size: 35px;
    
}
#h2logo3{
    font-size: 35px;
    
}
#h2logo4{
    font-size: 35px;
    
}
#logo1{
    height: 50px;
    width: 50px;
}
#logo2{
    height: 50px;
    width: 50px;
    
}
#logo3{
    height: 50px;
    width: 50px;
    
}
#logo4{
    height: 50px;
    width: 50px;
    
}
#statistics{
    color: white;
    font-size: 25px;
}
#pstat{
    color: #2881B0;
}
#h2stat{
    font-size: 35px;
}
#btnstat{
    color: white;
    border: none;
    background-color: #0AD3EF;
    padding: 15px 35px;
    border-radius: 30px;
}
#prepu{
    color: #5C72BD;
}
@media (max-width:1200px){
    .class4{
        height: 1200px;
        padding-top: 50px;
    }
}
footer{
    display: flex;
    width: 100%;
    height: 410px;
    background-color:#122061;
    background-image: url(../images/overly-img.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    flex-direction: column;
}
#footer1{
    display: flex;
    justify-content:center;
    gap: 50px;
    text-align: center;
}
#ulfooter{
    list-style-type: none;
}
#inputfooter{
    background-image: url(../images/submit-img.png);
    background-repeat: no-repeat;
    background-position: right;
    background-color: #122061;
    padding: 15px;
    border:#279fd2 0.5px solid;
    border-radius: 5px;
    
}
#h3footer{
    color: white;
}
#pfooter{
    color: #5B6BAC;
}
#lifooter{
    color: #5B6BAC;
}
#checkbox{
    border: red 1px solid;
}
#imagefooter{
    display: flex;
    flex-direction: column;
    justify-content: start;
    text-align: left;
    align-items: center;
}
#about{
    display: flex;
    flex-direction: column;
    justify-content:start;
    align-items: center;
    text-align: left;
}
#our{
    display: flex;
    flex-direction: column;
    text-align: left;
}
#newsletter{
    display: flex;
    flex-direction: column;
    text-align: left;
}
#labelfooter{
    color:#279fd2;
}
::placeholder{
    color: #637BC0;
}
#copyright{
    display: flex;
    justify-content: center;
    margin-top: 60px;
    border-top: solid 0.3px #2052a2;
}
#pcopyright{
    margin-top: 30px;
    color: #279fd2;
}




.latestBlog {
    background-color: #0a1650;
    display: flex;
    height: 500px;
    align-items: center;
}

.mainBlog {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-right: 150px;
    margin-bottom: 200px;
}

.blogImages {
    display: flex;
    gap: 15px;
}

.imageDots>img {
    transform: rotateY(180deg);
    height: 250px;
    width: 200px;
    margin-bottom: 170px;
}

.blogImage1 {
    background-image: url(./../images/blog-post-img1.png);
    background-position: center;
    background-size: cover;
    height: 250px;
    width: 250px;
    border-radius: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    color: white;
    padding-left: 30px;
    transition: 0.5s;
}

.blogImage1:hover {
    transform: rotate(2deg) scale(1.05);
}

.textBlog {
    position: absolute;
    bottom: 0;
    color: white;
    font-family: mySecondFont;
}

/* .textBlog:hover{
    color: #02CCEB;
} */
#firsthover:hover{
    color: #02CCEB;
}
#secondhover:hover{
    color: #02CCEB;
}
#lasthover:hover{
    color: #02CCEB;
}

#quatrieme:hover{
    color: #02CCEB;
}
#cinq:hover{
    color: #02CCEB;
}
#six:hover{
    color: #02CCEB;
}





.blogImage2 {
    background-image: url(./../images/blog-post-img2.png);
    height: 250px;
    width: 250px;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    color: white;
    padding-left: 30px;
    transition: 0.5s;
}

.animation:hover {
    overflow: hidden;
}
.animation{
    position: relative;
}

.blogImage2:hover {
    transform: rotate(2deg) scale(1.05);
}
.titlesBlog {
    text-align: center;
    margin-top: 100px;
}

.smallerTitle {
    color: #36b2de;
    font-size: small;
}

.tallerTitle {
    color: white;
    font-size: xx-large;
}

.form {
    background-color: #0a1650;
    height: 500px;
    background-image: url(./../images/dots-img.png);
    background-repeat: no-repeat;
    background-size: 50px 50px contain;
    background-position: 100%;
}

.formtext {
    display: flex;
    justify-content: center;
    text-align: center;
}

.formInputs {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: 300px;
    width: 100vw;
    border: none;
}

.containerinpute {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 200px;
}

.containerinpute>.inputsOne>input {
    border: solid white 1px;
    opacity: 0.5;
    border-radius: 5px;
    background-color: #07134d;
    width: 250px;
}

.inputsOne {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 150%;
    gap: 10px;
}

.formMessage {
    display: flex;
    height: 100px;
    width: max-content;
}

.formMessage>input {
    border: solid white 1px;
    opacity: 0.5;
    border-radius: 5px;
    background-color: #07134d;
    margin-top: 20px;
    height: 95px;
    width: 580px;
}

.formButton {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 200px;
}

.dotImageLeft {
    height: 250px;
    width: 200px;
}

.getInTouch {
    color: #36b2de;
    font-size: small;
}

.sendMessage {
    color: white;
    font-size: xx-large;
}

.submitButton {
    background-color: #09d4ef;
    color: white;
    height: 40px;
    width: 110px;
    border: none;
    border-radius: 20px;
}
.submitButton:hover{
    background-color: #07134d;
    border: #02CCEB 2px solid;
}