body{
    width: 100vw;
    margin: 0;
}
.Partners{
    width: 100%;
    /* height: 1000px; */
    background-color: #0A1650;
    display: flex;
    flex-direction: column;
    padding-bottom: 100px;
}
.pP{
    color: #32A5D3;
}
#WereWorking{
    display: flex;
    justify-content: center;
    text-align: center;
    color: white;
    margin-top: 35px;
    flex-direction: column;
}
#Title1{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
#imagediv1{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    margin-bottom: 100px;
    transition: 0.5s;
    transition: 0.5s;
    flex-wrap: wrap;
}
#ReduceRisk{
    display: flex;
    justify-content: space-evenly;
    gap: 25px;
    position: relative;
    flex-wrap: wrap;
}

.listeReduce{
    list-style: url(../images/checked.jpeg);
    }
#imgandtext{
    display: flex;
    gap: 50px;
    color: white;
    flex-wrap: wrap;
    
}
#ReduceRisk #img22{
    position: absolute;
    left: 1715px;
}
#img22{
    display: flex;
    justify-content: space-between;
}
#img22 img{
    height: 300px;
}
#imagediv11 {
    background-color: #17256e;
    width: 130px;
    height: 120px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#imagediv11 img{
    width: 75px;
    height: 75px;
}
#imagediv11:hover img{
    filter: brightness(100);
    transition: 1s;
    transition-timing-function: ease;
    transform: translateY(-10px);
}
#imagediv11:hover {
    background-color: #02CCEB;
}
#img2{
    height: 350px;
}
 


@media (max-width:500px){
    #img2{
        width: 300px;
    }
}
@media (max-width:450px){
    .thetext{
        display: flex;
        justify-content: center;
    }
}
@media (max-width:500px){
    #img22{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}